{% extends 'base.html.twig' %}

{% block title %}Edit Oeuvre{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Oeuvre</h1>

    {{ include('oeuvre/_form.html.twig', {'button_label': 'Editer'}) }}
   
</div>
{% endblock %}
