{% extends 'base.html.twig' %}

{% block title %}New Oeuvre{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle oeuvre</h1>

    {{ include('oeuvre/_form.html.twig') }}

    <a  href="{{ path('app_oeuvre_index') }}">Retour a la liste</a>
</div>
{% endblock %}
